.details {
    &-card {
        .card-header {
            h4 {
                font-family: $noto;
                font-style: normal;
                font-weight: 500;
                font-size: 15px;
                line-height: 140%;
            }
        }
        .card-body {
            p {
                font-family: $noto;
                font-style: normal;
                font-weight: 400;
                font-size: 13px;
                line-height: 140%;
            }
            .text-big {
                font-family: $noto;
                font-style: normal;
                font-weight: 500;
                font-size: 28px;
                line-height: 140%;
                span {
                    font-family: $noto;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 13px;
                    line-height: 140%;
                }
            }
        }
    }
}