.trade {
    &-top {
        &__btns {
            .btn-item {
                cursor: pointer;
                font-family: $noto;
                font-style: normal;
                font-weight: 400;
                font-size: 13px;
                line-height: 140%;
                padding: 7px 12px;
                margin-left: 5px;
                &:first-child {
                    margin-left: 0;
                }
                &.active {
                    background: rgba(81, 118, 207, 0.32);
                    border-radius: 4px;
                    color: $blue;
                }
            }
        }
    }
    &-body {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &-card {
        .card-header {
            display: flex;
            align-items: center;
            &__title {
                font-family: $noto;
                font-style: normal;
                font-weight: 500;
                font-size: 15px;
                line-height: 140%;
                margin-right: 10px;
                color: $white;
            }
            i {
                font-size: 13px;
                line-height: 140%;
            }
        }
        .card-body {
            padding: 20px 0;
            .count {
                font-family: $inter;
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 140%;
                color: $white;
                border-radius: 2px;
                padding: 0 5px;
            }
        }
        .card-footer {
            padding-top: 16px;
            border-top: 1px solid $black;
            button {
                border-color: $blue;
                color: $blue;
                &:hover {
                    border-color: $yellow;
                    color: $yellow;
                }
            }
        }
    }
}